# -Indexing

In [10]:
a="samosa pakora"
a

'samosa pakora'

In [11]:
a[0]

's'

In [12]:
a[6]

' '

In [13]:
a[8]

'a'

In [14]:
#check length of Indexes

len(a)

13

In [15]:
#last index is Exclusive meaning it wont get printed,

a[0:5]

'samos'

In [16]:
a[0:6]

'samosa'

In [17]:
#total length is 0-12 for this pharase samosa pakora, but we'll write 0-13 to print whole pharase because last one is exclusive

a[0:13]

'samosa pakora'

In [18]:
# now to print from the backside 

a[-6]

'p'

In [19]:
a[-6:13]

'pakora'

In [20]:
#anothger way

a[-6:]

'pakora'

In [21]:
a[-6:len(a)]

'pakora'

## - Strings Methods

In [22]:
food ="biryani"
food

'biryani'

In [23]:
len(food)

7

In [24]:
# to capitalize the first letter, press tab button to get the function suggestions

food.capitalize ()

'Biryani'

In [25]:
food.upper()

'BIRYANI'

In [26]:
food.lower()

'biryani'

In [27]:
food.replace("b" , "sh")

'shiryani'

In [28]:
name="its umme habiba"
name

'its umme habiba'

In [29]:
name.count("a")

2

In [30]:
name.count("ba")

1

### finding an index number in string

In [31]:
name.find("b")

11

### a program to find the number of accurences in a string

In [32]:
repeatingStr = 'Umme Habiba'

start = 0

occurrences = 0

for i in range(len(repeatingStr)):

    j = repeatingStr.find('a', start)

    if(j != -1):

        start = j+1

        occurrences += 1

print("Total occurrences are: ", occurrences)

Total occurrences are:  2

In [33]:
# splitting a string 

name=" I'm umme habiba , I am doing my Masters"
name.split(",")

[" I'm umme habiba ", ' I am doing my Masters']

# -Basic Data Structures in Python

- Tuple
- List
- Dictionaries
- Set

# -1 Tuple

- round () braces
- different type of elements
- once element added cant be changed unmutatable
- ordered collection of elements

In [34]:
tup1= (1 , 'python' , True , 2.5)
tup1

(1, 'python', True, 2.5)

In [35]:
type(tup1)

tuple

## - Indexing in Tuple

In [36]:
tup1[1]

'python'

In [37]:
tup1[0:4]      # python exclude the last index meaning it counts one less

(1, 'python', True, 2.5)

In [38]:
len(tup1)

4

In [39]:
# concatenate 2 tuples

tup2=(3, 'hiba' , False , 4.5)

tup1 + tup2

(1, 'python', True, 2.5, 3, 'hiba', False, 4.5)

In [40]:
tup1*2 + tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 3, 'hiba', False, 4.5)

In [41]:
tup3=(20, 30 , 50, 70)
tup3

(20, 30, 50, 70)

In [42]:
#multiplication sign is used for REPETITION , 

tup3* 2

(20, 30, 50, 70, 20, 30, 50, 70)

In [43]:
tup3*3

(20, 30, 50, 70, 20, 30, 50, 70, 20, 30, 50, 70)

In [44]:
# to draw a single line in jupitor note book ,  write three dashes(---) and convert the tab into markdown

---

## -2 lists
- ordered collection of elements
- squre brackets
- Mutable, values can be changed

In [45]:
lst1=['hiba', 2.5 , 8]
lst1

['hiba', 2.5, 8]

In [46]:
lst1[1]

2.5

In [47]:
lst2=['python' , True , 9]
lst2

['python', True, 9]

In [48]:
lst1+lst2

['hiba', 2.5, 8, 'python', True, 9]

In [49]:
lst1.reverse()
lst1

[8, 2.5, 'hiba']

In [50]:
lst1

[8, 2.5, 'hiba']

In [51]:
lst1.reverse()
lst1

['hiba', 2.5, 8]

In [52]:
lst1.append("learning python")
lst1

['hiba', 2.5, 8, 'learning python']

In [53]:
lst1.count('learning python')

1

In [54]:
lst3=[50, 40, 20, 10, 70]
len(lst3)

5

In [55]:
lst3.sort()
lst3

[10, 20, 40, 50, 70]

## 3-Dictionaries

- Curley braces {}
- unordered
- mutable/change the value
- key and Value

In [56]:
# Dictioonary of food and their prices
# elements in quotations are called Keys and after collon mark are the Values
food1= {'samosa':30 , 'pakora':100 , 'Raita': 20}

food1

{'samosa': 30, 'pakora': 100, 'Raita': 20}

In [57]:
type(food1)

dict

In [58]:
# seperate keys and Values

keys1=food1.keys()
keys1

dict_keys(['samosa', 'pakora', 'Raita'])

In [59]:
values1=food1.values()
values1

dict_values([30, 100, 20])

In [60]:
# mutate / adding new element in the dictionary

food1['Tikki'] = 10
food1

{'samosa': 30, 'pakora': 100, 'Raita': 20, 'Tikki': 10}

In [61]:
#changing/updating the value of a key

food1['Tikki']=15
food1

{'samosa': 30, 'pakora': 100, 'Raita': 20, 'Tikki': 15}

In [62]:
# dictionary 2

food2= {'choco': 200 , 'sawayyan': 500 , 'Biscuits': 500}
food2

{'choco': 200, 'sawayyan': 500, 'Biscuits': 500}

In [63]:
# to concatenate 2 dictionaries we have to use UPDATE FUNCTION

food1.update(food2)
food1

{'samosa': 30,
 'pakora': 100,
 'Raita': 20,
 'Tikki': 15,
 'choco': 200,
 'sawayyan': 500,
 'Biscuits': 500}

## Set

- unordered and unindexed
- curley braces { } 
- no duplicate allowed
- cant add boolean values
- only int float and string values

In [64]:
# example of NO dupliocate, if you add a duplicate it wont be added

set1= {'hiba' , 'python' , 2.5 , 100}
set1

{100, 2.5, 'hiba', 'python'}

In [65]:
set1.add('hiba')  # didnt add a duplicate hiba
set1

{100, 2.5, 'hiba', 'python'}

In [66]:
set1.remove(2.5)
set1

{100, 'hiba', 'python'}