# Pandas Tutorial
<span style=color:#0ff1f5>This note book explains all about pandas library, these are my notes and practice from python ka chilla course.</span>

### -How to Install Libraries

- since I already have installed it thats why made it a comment, you need to remove "#" sign from the start

In [1]:
#pip install pandas

### -Import libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Object Creation

s=pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# you can also add an empty cell using numpy

s=pd.Series([1,2,3,np.nan,4,5])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [5]:
s = pd.Series([3,5,7,np.nan,1,8])
s

0    3.0
1    5.0
2    7.0
3    NaN
4    1.0
5    8.0
dtype: float64

In [6]:
dates= pd.date_range("20220101", periods=6)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
dates= pd.date_range("20220101", periods=6)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

#### - Data series to Data frame

In [8]:
# now converting date series to data frame(df is worksheet means rows and cols)

df= pd.DataFrame(np.random.rand(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-01-01  0.816215  0.190440  0.312991  0.403532
2022-01-02  0.181417  0.973087  0.848618  0.946268
2022-01-03  0.444634  0.061702  0.933695  0.697067
2022-01-04  0.567296  0.235396  0.468786  0.124414
2022-01-05  0.387154  0.519644  0.763936  0.772951
2022-01-06  0.763489  0.701676  0.849813  0.580141

In [9]:
df2= pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220307"),
        "C": pd.Series(1,index=list(range(4)), dtype="float32"),
        "D": np.array([3]*4, dtype="int32"),
        "E": pd.Categorical(["test" , "train" ,"test" ,"train"]),
        "F": "foo"
    }
)
df2

     A          B    C  D      E    F
0  1.0 2022-03-07  1.0  3   test  foo
1  1.0 2022-03-07  1.0  3  train  foo
2  1.0 2022-03-07  1.0  3   test  foo
3  1.0 2022-03-07  1.0  3  train  foo

#### -Data frame types

In [10]:
# Data frame types
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df

                   A         B         C         D
2022-01-01  0.816215  0.190440  0.312991  0.403532
2022-01-02  0.181417  0.973087  0.848618  0.946268
2022-01-03  0.444634  0.061702  0.933695  0.697067
2022-01-04  0.567296  0.235396  0.468786  0.124414
2022-01-05  0.387154  0.519644  0.763936  0.772951
2022-01-06  0.763489  0.701676  0.849813  0.580141

In [12]:
# to see first 5 rows of dataframe
df.head()

                   A         B         C         D
2022-01-01  0.816215  0.190440  0.312991  0.403532
2022-01-02  0.181417  0.973087  0.848618  0.946268
2022-01-03  0.444634  0.061702  0.933695  0.697067
2022-01-04  0.567296  0.235396  0.468786  0.124414
2022-01-05  0.387154  0.519644  0.763936  0.772951

In [13]:
# to see last 5 rows of DF
df.tail()

                   A         B         C         D
2022-01-02  0.181417  0.973087  0.848618  0.946268
2022-01-03  0.444634  0.061702  0.933695  0.697067
2022-01-04  0.567296  0.235396  0.468786  0.124414
2022-01-05  0.387154  0.519644  0.763936  0.772951
2022-01-06  0.763489  0.701676  0.849813  0.580141

In [14]:
# to see the Index Column
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

#### -Dataframe to numpy

In [16]:
# converting datafframe to numpy meaning into array

df.to_numpy()

array([[0.8162148 , 0.19044046, 0.31299123, 0.40353242],
       [0.18141676, 0.97308704, 0.84861769, 0.94626824],
       [0.4446337 , 0.06170158, 0.93369485, 0.69706686],
       [0.56729568, 0.23539558, 0.46878604, 0.12441424],
       [0.38715372, 0.51964421, 0.76393617, 0.77295079],
       [0.76348927, 0.70167594, 0.84981316, 0.58014093]])

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.526701  0.446991  0.696307  0.587396
std    0.239568  0.348126  0.247542  0.291018
min    0.181417  0.061702  0.312991  0.124414
25%    0.401524  0.201679  0.542574  0.447685
50%    0.505965  0.377520  0.806277  0.638604
75%    0.714441  0.656168  0.849514  0.753980
max    0.816215  0.973087  0.933695  0.946268

#### -Transpose

In [18]:
# transpose dataframe meaning to convert rows to cols and cols to rows

df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-03-07 00:00:00,2022-03-07 00:00:00,2022-03-07 00:00:00,2022-03-07 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

#### - sorting Index column

In [19]:
df.sort_index(axis=0 ,ascending=False)

                   A         B         C         D
2022-01-06  0.763489  0.701676  0.849813  0.580141
2022-01-05  0.387154  0.519644  0.763936  0.772951
2022-01-04  0.567296  0.235396  0.468786  0.124414
2022-01-03  0.444634  0.061702  0.933695  0.697067
2022-01-02  0.181417  0.973087  0.848618  0.946268
2022-01-01  0.816215  0.190440  0.312991  0.403532

In [20]:
# sort data frame on colm base

df.sort_values(by="B")

                   A         B         C         D
2022-01-03  0.444634  0.061702  0.933695  0.697067
2022-01-01  0.816215  0.190440  0.312991  0.403532
2022-01-04  0.567296  0.235396  0.468786  0.124414
2022-01-05  0.387154  0.519644  0.763936  0.772951
2022-01-06  0.763489  0.701676  0.849813  0.580141
2022-01-02  0.181417  0.973087  0.848618  0.946268

In [21]:
# Selecting a specific coloum

df["A"]

2022-01-01    0.816215
2022-01-02    0.181417
2022-01-03    0.444634
2022-01-04    0.567296
2022-01-05    0.387154
2022-01-06    0.763489
Freq: D, Name: A, dtype: float64

In [22]:
# row wise selection of df

df[0:3]

                   A         B         C         D
2022-01-01  0.816215  0.190440  0.312991  0.403532
2022-01-02  0.181417  0.973087  0.848618  0.946268
2022-01-03  0.444634  0.061702  0.933695  0.697067

In [23]:
df[1:3]

                   A         B         C         D
2022-01-02  0.181417  0.973087  0.848618  0.946268
2022-01-03  0.444634  0.061702  0.933695  0.697067

In [24]:
# another way to access specific data from df
df.loc[dates[15]]

IndexError: index 15 is out of bounds for axis 0 with size 6

In [ ]:
# here no rows, only cols A and B 
df.loc[: , ["A","B"]]

In [ ]:
# accessing a range(with colon sign) of dates from 2 to 4
df.loc["20200102":"20200104" , ["A","B"]]

In [ ]:
# now if we do list into list with same code
# accessing only 2 dates, with coma

df.loc[["20200102","20200104"] , ["A","B"]]

In [ ]:
# access data of 1 date and 3 columns 

df.loc["20200103" , ["A" ,"B" ,"C"]]

In [ ]:
# using "at" Function, to get specific cell value
df.at[dates[18], "A"]

0.5289002490376591

In [ ]:
# it will access all the cols but only one value from index or rows
df.iloc[3]

A    0.789405
B    0.758379
C    0.760497
D    0.872910
Name: 2020-01-04 00:00:00, dtype: float64

In [ ]:
# same previous function but with range
df.iloc[3:10]

In [ ]:
# 0 to 5 rows , and all cols
# same way we can change the cols too and rows too

df.iloc[0:5, : ]

#### -Boolean Conditions to get specific values

In [ ]:
# will only show values in col A those are > 0

df[df["A"]>0 ]

In [ ]:
df[df["A"]>0.5]

                   A         B         C         D
2020-01-02  0.911852  0.726556  0.471353  0.838468
2020-01-04  0.789405  0.758379  0.760497  0.872910
2020-01-07  0.730028  0.649075  0.770288  0.353364
2020-01-08  0.500332  0.334427  0.622795  0.016485
2020-01-09  0.912140  0.509348  0.806855  0.421813
2020-01-11  0.571909  0.151096  0.337682  0.073674
2020-01-12  0.814179  0.901009  0.668650  0.993288
2020-01-14  0.852984  0.343240  0.574285  0.851753
2020-01-16  0.984935  0.692132  0.261510  0.758994
2020-01-18  0.555103  0.270698  0.443376  0.603905
2020-01-19  0.879702  0.769095  0.140825  0.325748
2020-01-20  0.611469  0.891468  0.334305  0.944598

In [ ]:
# Boolean condition on more than 1 column

df[(df["C"]>0.5) & (df["D"]>0.5)]

                   A         B         C         D
2020-01-03  0.204449  0.499536  0.562165  0.966323
2020-01-04  0.789405  0.758379  0.760497  0.872910
2020-01-06  0.090185  0.257550  0.533385  0.594151
2020-01-12  0.814179  0.901009  0.668650  0.993288
2020-01-14  0.852984  0.343240  0.574285  0.851753

In [ ]:
df[df>0.5]

#### -Copying Data Frame

In [ ]:
# copying df into another variable df3

df3=df.copy()
df3

                   A         B         C         D
2022-01-01  0.769104  0.593393  0.103290  0.130795
2022-01-02  0.307538  0.998922  0.787966  0.273823
2022-01-03  0.279343  0.868693  0.674440  0.455452
2022-01-04  0.163994  0.961682  0.169608  0.854564
2022-01-05  0.927219  0.433049  0.749129  0.589571
2022-01-06  0.673585  0.422994  0.212162  0.602821

#### -Adding New column

In [ ]:
# now adding a new col into df3
#"one","two","three","four"
df3["newcolm"]=["1","2","3","4","1","2"]
df3

                   A         B         C         D newcolm
2022-01-01  0.769104  0.593393  0.103290  0.130795       1
2022-01-02  0.307538  0.998922  0.787966  0.273823       2
2022-01-03  0.279343  0.868693  0.674440  0.455452       3
2022-01-04  0.163994  0.961682  0.169608  0.854564       4
2022-01-05  0.927219  0.433049  0.749129  0.589571       1
2022-01-06  0.673585  0.422994  0.212162  0.602821       2

#### -Calculating mean/average

* A DataFrame object has two axes: axis 0 and axis 1. axis 0 represents rows and axis 1 represents columns.

In [ ]:
# left part of = will add a new col named "mean", and write part of = to calculate mean
df3["mean"]=df.mean(axis=1)
df3

                   A         B         C         D newcolm      mean
2022-01-01  0.769104  0.593393  0.103290  0.130795       1  0.399145
2022-01-02  0.307538  0.998922  0.787966  0.273823       2  0.592062
2022-01-03  0.279343  0.868693  0.674440  0.455452       3  0.569482
2022-01-04  0.163994  0.961682  0.169608  0.854564       4  0.537462
2022-01-05  0.927219  0.433049  0.749129  0.589571       1  0.674742
2022-01-06  0.673585  0.422994  0.212162  0.602821       2  0.477890